#klok {
  color: red;
}

#status, #klok, #broek, #plank {
  font-weight: bold;
}

body {
	padding-bottom: 70px;
}

.speler {
}

.email {
	font-size: smaller;
}

.categorie {
}

.panel-heading {
	font-size: smaller;
	font-weight: bold;
}
