<!DOCTYPE html>
<html lang="nl">
  <head>
    <title>Broekhanger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/broek.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}"></script>
  </head>



  <body>

<!-- NAVIGATOR ON TOP -->
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Broekhanger</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <button id="reset" type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-refresh"></span> Reset</button>
      <button id="takepicture" type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-camera"></span> Foto</button>
      <button id="poweroff" type="button" class="btn btn-default navbar-btn pull-right"><span class="glyphicon glyphicon-off"></span> Uit</button>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    {% include 'flash.html' %}

    {% block content %}{% endblock %}

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container text-muted">
    <p class="navbar-text">Broek: <span id="broek" class="badge">?</span>
                           Plank: <span id="plank" class="badge">?</span></p>
    <p class="navbar-text">Tijd:  <span id="klok">00:00</span></p>
    <p class="navbar-text navbar-right">Status: <span id="status">???</span></p>
  </div>
</nav>


<!-- Load scripts at end of page -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/broekhang.js') }}"></script>
  </body>
</html>
