{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <!-- EERSTE KOLOM -->
    <div class="col-md-4">
      <div class="row">
        <h2>Laatste foto</h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="thumbnail">
            <img id="laatste_foto" src="{{ url_for('foto') }}" title="De laatste foto" />
          </div>
        </div>
      </div>
    </div>

    <!-- TWEEDE KOLOM -->
    <div class="col-md-4">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">Wie is aan de beurt:</div>
          <ol class="list-group">
            <li class="list-group-item" role="button">
              <span id="spelerterug" class="glyphicon glyphicon-arrow-down"></span>
              <span id="huidigespeler">??</span>
              <span><span id="huidigespelercategorie" class="badge">?</span></span>
              <span id="spelerisklaar" class="pull-right glyphicon glyphicon-trash"></span>
            </li>
          </ol>
        </div> <!-- end panel -->
      </div> <!-- end row -->
      <div class="row">
        <div class="col">
          <div class="panel panel-default">
            <div class="panel-heading">Nieuwe speler:</div>

            <div class="input-group">
              <span class="input-group-addon glyphicon glyphicon-user"></span>
              <input id="naam" type="text" class="form-control" placeholder="Naam">
            </div>
            <div class="input-group">
              <span class="input-group-addon glyphicon glyphicon-envelope"></span>
              <input id="email" type="text" class="form-control" placeholder="Contact">
            </div>
            <div class="input-group">
              <span class="input-group-addon">
                <input id="klein" type="radio" name="categorie" value="K">Klein
              </span>
              <span class="input-group-addon">
                <input id="middel" type="radio" name="categorie" value="M">Middel
              </span>
              <span class="input-group-addon">
                <input id="groot" type="radio" name="categorie" value="G">Groot
              </span>
            </div>
            <div class="input-group">
              <button id="addplayer" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> Wachtrij
              </button>
              <button id="addplayerandplay" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-play"></span> Direct
              </button>
              <button id="leegformulier" type="button" class="btn btn-default pull-right">
                <span class="glyphicon glyphicon-erase"></span> Leeg
              </button>
            </div>
          </div> <!-- end panel -->
        </div> <!-- end col -->
      </div> <!-- end row -->

      <div class="row">
        <div class="col">
          <div class="panel panel-default">
            <div class="panel-heading">Wie wachten op hun beurt:</div>
            <table class="table" id="wachtrij">
              <thead><tr><th>#</th><th>Naam</th><th>Contact</th><th>Cat.</th><th>Actie</th></tr></thead>
              <tbody>
                <tr><td colspan="5">-- Leeg --</td></tr>
              </tbody>
            </table>
          </div> <!-- end panel -->
        </div> <!-- end col -->
      </div> <!-- end row -->
    </div> <!-- end tweede kolom -->

    <!-- DERDE KOLOM -->
    <div class="col-md-4">
      <div class="row">
        <div class="col">
          <div class="panel panel-default">
            <div class="panel-heading">Top 3 - KLEIN: <span class="badge">K</span></div>
            <table class="table" id="scores_K">
              <thead><tr><th>#</th><th>Naam</th><th>Contact</th><th>Score</th><th>Foto</th></tr></thead>
              <tbody>
                <tr><td colspan="5">-- Leeg --</td></tr>
              </tbody>
            </table>
          </div> <!-- end panel -->
        </div> <!-- end col -->
      </div> <!-- end row -->
      <div class="row">
        <div class="col">
          <div class="panel panel-default">
            <div class="panel-heading">Top 3 - MIDDEL: <span class="badge">M</span></div>
            <table class="table" id="scores_M">
              <thead><tr><th>#</th><th>Naam</th><th>Contact</th><th>Score</th><th>Foto</th></tr></thead>
              <tbody>
                <tr><td colspan="5">-- Leeg --</td></tr>
              </tbody>
            </table>
          </div> <!-- end panel -->
        </div> <!-- end col -->
      </div> <!-- end row -->
      <div class="row">
        <div class="col">
          <div class="panel panel-default">
            <div class="panel-heading">Top 3 - GROOT: <span class="badge">G</span></div>
            <table class="table" id="scores_G">
              <thead><tr><th>#</th><th>Naam</th><th>Contact</th><th>Score</th><th>Foto</th></tr></thead>
              <tbody>
                <tr><td colspan="5">-- Leeg --</td></tr>
              </tbody>
            </table>
          </div> <!-- end panel -->
        </div> <!-- end col -->
      </div> <!-- end row -->
    </div> <!-- end derde kolom -->
  </div> <!-- end row -->
</div> <!-- end container -->

<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Sluiten</span></button>
        <h4 class="modal-title" id="myModalLabel">Afbeelding groot</h4>
      </div>
      <div class="modal-body">
        <img src="" id="imagepreview" width="100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span>&nbsp;Sluiten</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$('#laatste_foto').click(function() {
		console.log('reload picture');
		$('#laatste_foto').attr('src', '/foto?dummy='+Math.random());
	});
	$('#leegformulier').click(function() {
		console.log('Formulier wissen');
		$('.form-control').val(null);
	});	
	$("body").on('click', 'img', function() {
		var url = $(this).attr('src');
		console.log("URL: " + url);
		$('#imagepreview').attr('src', url);
		$('#imagemodal').modal('show');
	});
	$('#modal').on('show.bs.model', function () {
       $(this).find('.modal-content').css({
              width:'auto', //probably not needed
              height:'auto', //probably not needed 
              'max-width':'100%'
       });
});
});
</script>
{% endblock %}
